<section class="about-section">
  <div class="container">
    <div class="about-title-wrapper">
      <picture class="about-bee">
        <source
          srcset="/img/title/bee-desk-1x.png 1x, /img/title/bee-desk-2x.png 2x"
          media="(min-width: 768px)"
        />

        <img
          src="/img/title/bee-mob-1x.png"
          srcset="/img/title/bee-mob-1x.png 1x, /img/title/bee-mob-2x.png 2x"
          alt="Bee"
        />
      </picture>
      <h2 class="about-title">About the Game</h2>
    </div>
    <p class="about-text">
      Unlike most puzzle games where you're constantly swapping tiles around,
      Bee Brilliant Blast keeps it simple - just tap clusters of matching tiles
      and watch them disappear. This creates a different rhythm compared to
      traditional match-3 games. Levels move at a nice clip and there's
      something really satisfying about watching those colorful explosions when
      you clear a big group.
    </p>
  </div>
</section>
