<section class="gallery-section" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>
    <p class="gallery-subtitle">Moments of fun</p>

    <div class="swiper gallery-swiper" id="gallery-swiper">
      <div class="swiper-wrapper">
        <!-- CARD 1 -->
        <div class="swiper-slide gallery-slide">
          <img
            src="/img/gallery/1-blast-1x.png"
            srcset="
              /img/gallery/1-blast-1x.png 1x,
              /img/gallery/1-blast-2x.png 2x
            "
            alt="Game start screen"
            class="gallery-img"
          />
        </div>

        <!-- CARD 2 -->
        <div class="swiper-slide gallery-slide">
          <img
            src="/img/gallery/2-beegin-1x.png"
            srcset="
              /img/gallery/2-beegin-1x.png 1x,
              /img/gallery/2-beegin-2x.png 2x
            "
            alt="Worlds map"
            class="gallery-img"
          />
        </div>

        <!-- CARD 3 -->
        <div class="swiper-slide gallery-slide">
          <img
            src="/img/gallery/3-worlds-1x.png"
            srcset="
              /img/gallery/3-worlds-1x.png 1x,
              /img/gallery/3-worlds-2x.png 2x
            "
            alt="Power-ups gameplay"
            class="gallery-img"
          />
        </div>

        <!-- CARD 4 -->
        <div class="swiper-slide gallery-slide">
          <img
            src="/img/gallery/4-power-1x.png"
            srcset="
              /img/gallery/4-power-1x.png 1x,
              /img/gallery/4-power-2x.png 2x
            "
            alt="Power-ups gameplay"
            class="gallery-img"
          />
        </div>

        <!-- CARD 5 -->
        <div class="swiper-slide gallery-slide">
          <img
            src="/img/gallery/5-combine-1x.png"
            srcset="
              /img/gallery/5-combine-1x.png 1x,
              /img/gallery/5-combine-2x.png 2x
            "
            alt="Power-ups gameplay"
            class="gallery-img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
