<header class="header header-secondary">
  <div class="container">
    <div class="header_wrapper">
      <a class="nav-logo" href="./index.html">
        Bee Brilliant Blast
      </a>

      <a class="nav-link back-link" href="./index.html">

        <svg class="back-arrow" width="10" height="18" viewBox="0 0 10 18" aria-hidden="true">
          <path d="M8 2L2 9L8 16" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <span>Back</span>
      </a>
    </div>
  </div>
</header>