<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Pop, blast, and enjoy the buzz
        <span class="highlight">Tap, Blast, and Clear The Board</span>
        Simple moves, brilliant results
      </h1>

      <a
        class="hero-btn"
        href="https://play.google.com/store/apps/details?id=dk.tactile.beebrilliantblast&hl=en&gl=us"
        aria-label="Play on Google Play"
        ><img
          class="btn-logo"
          src="/img/hero/googleplay-1x.png"
          alt="Google Play logo"
        />
        <span class="btn-text">Play on Google Play</span>
      </a>
    </div>
  </div>
</section>
