<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <p class="hero-subtitle">Pop, blast, and enjoy the buzz</p>

      <h1 class="hero-title">Tap, Blast, and Clear The Board</h1>

      <p class="hero-subtitle">Simple moves, brilliant results</p>

      <a class="hero-btn" href="https://play.google.com/store/apps/details?id=dk.tactile.beebrilliantblast&hl=en&gl=us"
        aria-label="Play on Google Play"><img class="btn-logo" src="/img/hero/googleplay-1x.png"
          alt="Google Play logo" />
        <span class="btn-text">Play on Google Play</span>
      </a>
    </div>
  </div>
</section>