<section class="legal">
    <div class="legal__container">
        <h1 class="legal__title">Privacy Policy</h1>

        <div class="legal__content">
            <p>
                Bee Brilliant Blast does not collect or send any player data to any servers other than Apple’s for Game
                Center
                and iCloud. We do not collect any player data using third party servers or intermediaries of any kind.
            </p>

            <p>
                Bee Brilliant Blast collects data and stores it on Apple services such as iCloud and Game Center. We use
                iCloud
                to save your game, and Game Center to keep track of achievements and leaderboards. We do not store
                personal or
                gameplay data on our servers.
            </p>

            <p>
                Bee Brilliant Blast collects, uses, and discloses data from kids in the same way as for other users, as
                described
                in this policy. Where Cards Fall’s use of kids’ data is limited to support internal operations of the
                game.
                Parents can request deletion of data by contacting us at support@silentpayload.pro.
            </p>

            <p>
                If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at
                info@silentpayload.pro.
            </p>
        </div>
    </div>
</section>