<section id="reviews" class="reviews-section">
    <div class="container">

        <div>
            <h2 class="reviews-title ">Reviews</h2>

            <ul class="reviews-list">
                <li class="review-card" data-review-card data-visible="true">
                    <p class="review-text">
                        This game's a blast! Super easy to pick up and I found myself playing way longer than I
                        planned.
                    </p>

                    <div class="review-author">
                        <img class="review-avatar" src="./img/reviews/photocard1-1x.png" srcset="
    ./img/reviews/photocard1-1x.png 1x,
    ./img/reviews/photocard1-2x.png 2x" alt="BeeFan avatar" width="48" height="48" />
                        <div>
                            <p class="review-name">BeeFan</p>
                            <img class="review-stars" src="./img/reviews/☆☆☆☆☆5.png" alt="stars" />
                        </div>
                    </div>
                </li>

                <li class="review-card" data-review-card data-visible="true">
                    <p class="review-text">Relaxing and colorful.</p>

                    <div class="review-author">
                        <img class="review-avatar" src="./img/reviews/photocard2-1x.png" srcset="
    ./img/reviews/photocard2-1x.png 1x,
    ./img/reviews/photocard2-2x.png 2x" alt="Anna P. avatar" width="48" height="48" />
                        <div>
                            <p class="review-name">Anna P.</p>
                            <img class="review-stars" src="./img/reviews/stars4.png" alt="stars" />
                        </div>
                    </div>
                </li>

                <li class="review-card" data-review-card data-visible="true">
                    <p class="review-text">Love the tap mechanics.</p>

                    <div class="review-author">
                        <img class="review-avatar" src="./img/reviews/photocard3-1x.png" srcset="
    ./img/reviews/photocard3-1x.png 1x,
    ./img/reviews/photocard3-2x.png 2x" alt="BlastPlayer avatar" width="48" height="48" />
                        <div>
                            <p class="review-name">BlastPlayer</p>
                            <img class="review-stars" src="./img/reviews/☆☆☆☆☆5.png" alt="stars" />
                        </div>
                    </div>
                </li>

                <li class="review-card" data-review-card data-visible="true">
                    <p class="review-text">Great casual game.</p>

                    <div class="review-author">
                        <img class="review-avatar" src="./img/reviews/photocard4-1x.png" srcset="
    ./img/reviews/photocard4-1x.png 1x,
    ./img/reviews/photocard4-2x.png 2x" alt="Lena M. avatar" width="48" height="48" />
                        <div>
                            <p class="review-name">Lena M.</p>
                            <img class="review-stars" src="./img/reviews/stars4.png" alt="stars" />
                        </div>
                    </div>
                </li>

                <li class="review-card" data-review-card data-visible="false">
                    <p class="review-text">
                        Great for when you've got 5 minutes to kill - whether you're waiting for coffee or riding
                        the bus.
                    </p>

                    <div class="review-author">
                        <img class="review-avatar" src="./img/reviews/photocard5-1x.png" srcset="
    ./img/reviews/photocard5-1x.png 1x,
    ./img/reviews/photocard5-2x.png 2x" alt="HappyBuzz avatar" width="48" height="48" />
                        <div>
                            <p class="review-name">HappyBuzz</p>
                            <img class="review-stars" src="./img/reviews/☆☆☆☆☆5.png" alt="stars" />
                        </div>
                    </div>
                </li>
            </ul>

            <button class="reviews-more-btn" type="button" data-reviews-more>
                View more
            </button>
        </div>

    </div>
</section>