.faq-section {
    padding: 80px 0;
    background-color: var(--bg-color);
}


.faq-title-wrapper {
    text-align: center;
}

.faq-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 569px;
    height: 98px;
    margin: 0 auto 136px;
    font-family: var(--font-accent);
    font-size: 60px;
    line-height: 1;
    color: var(--bg-color);
    text-shadow: 0 8px 4px var(--sky-blue);
    background-image: image-set(url(/STP-12574/img/title/title-wood-desk-1x.png) 1x, url(/STP-12574/img/title/title-wood-desk-2x.png) 2x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.faq-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.faq-image-wrapper {
    width: 560px;
    flex-shrink: 0;
}

.faq-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 80px;
}

.faq-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 648px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.faq-item {
    padding: 18px 28px 20px;
    background-color: #ffffff;
    border: 1px solid #d9b29b;
    border-radius: 28px;
}

.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: var(--font-primary);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    text-align: left;
    color: var(--terracotta);
}

.faq-icon {
    flex-shrink: 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
}

.faq-answer {
    display: none;
    margin-top: 6px;
}

.faq-answer p {
    margin: 0;
    font-size: 16px;
    line-height: 1.35;
    color: #d2a272;
}

.faq-item.is-open .faq-answer {
    display: block;
}

/* MOBILE  */

@media screen and (max-width: 767px) {
    .faq-section {
        padding: 30px 0;
    }

    .faq-title {
        width: 267px;
        height: 45px;
        margin-bottom: 28px;
        font-size: 28px;
        background-image: image-set(url(/STP-12574/img/title/title-wood-mob-1x.png) 1x, url(/STP-12574/img/title/title-wood-mob-2x.png) 2x);

    }

    .faq-content {
        justify-content: center;
    }

    .faq-image-wrapper {
        display: none;
    }

    .faq-list {
        gap: 20px;
    }

    .faq-item {
        padding: 10px 14px 12px;
        border-radius: 20px;
    }

    .faq-question {

        font-size: 17px;
    }

    .faq-answer p {
        font-size: 12px;
    }
}