.features-section {
    background-color: var(--bg-color);
    text-align: center;
    margin-bottom: 32px;
}

.features-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 267px;
    height: 45px;
    margin: 0 auto 16px;
    font-family: var(--font-accent);
    font-size: 28px;
    color: var(--bg-color);
    background-image: url("/img/title/title-wood-mob-1x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0 8px 4px #2b95f9;
}

.features-subtitle {
    margin: 0 auto 16px;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 20px;
    color: var(--terracotta);
    text-transform: uppercase;
}

.features-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
}

.features-card {
    border: 1px solid var(--terracotta);
    border-radius: 30px;
    padding: 16px 0 28px 0;
    width: 306px;
    height: 306px;
    background: #fff;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    max-width: 157px;
}

.features-img {
    width: 153px;
    height: auto;
    margin-bottom: 16px;
}

.features-card-title {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.15;
    color: var(--terracotta);
    margin-bottom: 8px;

}

.features-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: var(--terracotta);
}

.features-text--wide {
    width: 284px;
    flex-shrink: 0;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .features-title {
        background-image: url("/img/title/title-wood-mob-2x.png");
    }
}

@media screen and (min-width: 768px) {
    .features-section {
        margin-bottom: 96px;
    }

    .features-title {
        background-image: url("/img/title/title-wood-desk-1x.png");
        font-size: 60px;
        width: 569px;
        height: 98px;
        margin-bottom: 40px;
    }

    .features-subtitle {
        font-size: 34px;
        margin-bottom: 40px;
    }

    .features-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
    }

    .card-wrapper {
        max-width: 204px;
    }

    .features-card {
        width: 400px;
        height: 400px;
        grid-column: span 1;
    }

    .features-card--wide {
        width: 852px;
        grid-column: span 2;
    }

    .features-text--wide {
        width: 408px;
        flex-shrink: 0;
    }

    .features-img {
        width: 200px;
        margin-bottom: 12px;
    }

    .features-card-title {
        font-weight: 800;
        font-size: 32px;
    }

    .features-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.15;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .features-title {
        background-image: url("/img/title/title-wood-desk-2x.png");
    }
}