.footer {
  background-color: var(--terracotta);
}

.footer .container {
  background-color: transparent;
}

.footer_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 45px 60px 17px;
}

.footer_info {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer_logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #fff3d7;
  text-decoration: none;
}

.footer_contact {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #fff3d7;
}

.footer_contact-title {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 16px;
}

.footer_email {
  font-family: var(--font-primary);
  font-size: 16px;
  color: #ffe9c4;
  text-decoration: none;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 26px;
}

.footer_link {
  font-family: var(--font-primary);
  font-size: 16px;
  color: #ffe9c4;
  text-decoration: none;
}

.footer_link:hover,
.footer_link:focus,
.footer_email:hover,
.footer_email:focus {
  text-decoration: underline;
}

/* COPYRIGHT */

.footer_copy {
  margin: 34px 0 0;
  padding-bottom: 17px;
  text-align: center;
  font-family: var(--font-primary);
  font-size: 16px;
  line-height: 1.2;
  color: #ffe9c4;
}

/* MOBILE*/

@media screen and (max-width: 767px) {
  .footer_container {
    padding: 14px 20px 24px;
  }

  .footer_top {
    flex-direction: column;
    align-items: flex-start;
    gap: 44px;
    padding: 14px 0 0;
  }

  .footer_info {
    gap: 52px;
  }

  .footer_logo {
    font-size: 20px;
  }

  .footer_contact {
    gap: 14px;
  }

  .footer_contact-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .footer_email {
    font-size: 20px;
    line-height: 1.2;
  }

  .footer_nav {
    gap: 16px;
    padding-top: 0;
  }

  .footer_link {
    font-size: 20px;
    line-height: 1.2;
  }

  .footer_copy {
    max-width: 260px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 1.15;
  }
}