/* SECONDARY HEADER */

.header-secondary .header_wrapper {
    min-height: 72px;
}

.back-link {
    font-size: 20px;
    gap: 8px;
}

.back-arrow {
    width: 8px;
    height: 14px;
}

.back-link:hover {
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}