.how-section {
    background-color: var(--bg-color);
    text-align: center;
    margin-bottom: 96px;
}

.how-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 267px;
    height: 45px;

    margin: 0 auto 40px;

    font-family: var(--font-accent);
    font-size: 28px;
    color: var(--bg-color);

    background-image: url("/img/title/title-wood-mob-1x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    text-shadow: 0 8px 4px var(--sky-blue);
}

.how-subtitle {
    display: inline-block;
    margin: 0 auto 40px;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 34px;
    color: var(--terracotta);
}

.how-swiper {
    padding-bottom: 20px;
}

.how-card {
    border: 1px solid var(--terracotta);
    border-radius: 30px;
    padding: 32px;
    width: 306px;
    height: 572px;
    background: #fff;
    text-align: start;
    position: relative;
}

.how-number {
    position: absolute;
    top: 32px;
    left: 32px;

    font-weight: 800;
    font-size: 42px;
    color:var(--raspberry-glaze);
}

.how-img {
    width: 225px;
    height: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

.how-card-title {
    font-weight: 800;
    font-size: 42px;
    margin-bottom: 14px;
    color: var(--terracotta);
}

.how-card-text {
    font-weight: 500;
    font-size: 24px;
    color: var(--terracotta);
}

/* mobile */
/* .how-swiper .swiper-slide {
    width: 240px;
} */

/* desktop */
@media (min-width: 768px) {
    /* .how-swiper .swiper-slide {
        width: auto;
    } */
    .how-title {    
        font-size: 60px;
        width: 569px;
        height: 98px;
        background-image: url("/img/title/title-wood-desk-1x.png"); 
    }
}


/* move swiper.js
 */