.legal-page {
    background: var(--bg-color, #fff3d7);
}

.legal-page main {
    flex: 1 0 auto;
}

.legal {
    padding: 170px 0 80px;
}

.legal__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 96px;
}

.legal__title {
    margin: 0 0 36px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;

    color: #111111;
}

.legal__content {
    max-width: 1240px;
}

.legal__content p {
    margin: 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.45;

    color: #111111;
}

.legal__content p+p {
    margin-top: 4px;
}

@media screen and (max-width: 767px) {
    .legal {
        padding: 80px 0 60px;
    }

    .legal__container {
        padding: 0 40px;
    }

    .legal__title {
        margin-bottom: 28px;
        font-size: 16px;
    }

    .legal__content p {
        font-size: 14px;
        line-height: 1.5;
    }

    .legal__content p+p {
        margin-top: 12px;
    }
}