.why-section {
    background-color: var(--bg-color);
    text-align: center;
    padding-bottom: 32px;
}

.why-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 267px;
    height: 45px;
    margin: 0 auto 16px;
    font-family: var(--font-accent);
    font-size: 28px;
    color: var(--bg-color);
    background-image: url("/img/title/title-wood-mob-1x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 0 8px 4px var(--sky-blue);
}

.why-subtitle {
    margin: 0 auto 16px;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 20px;
    color: var(--terracotta);
    text-transform: uppercase;
}

.why-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.why-item {
    text-align: center;
}

.why-img {
    width: 100%;
    max-width: 306px;
    margin: 0 auto 18px;
    display: block;
}

.why-card-title {
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 22px;
    line-height: 1.15;
    color: var(--terracotta);
    padding-bottom: 4px;
}

.why-text {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.15;
    color: var(--terracotta);
    max-width: 145px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .why-title {
        background-image: url("/img/title/title-wood-mob-2x.png");
    }
}

@media screen and (min-width: 768px) {
    .why-section {
        padding-bottom: 96px;
    }

    .why-title {
        background-image: url("/img/title/title-wood-desk-1x.png");
        font-size: 60px;
        width: 569px;
        height: 98px;
        margin-bottom: 40px;
    }

    .why-subtitle {
        font-size: 34px;
        margin-bottom: 40px;
    }

    .why-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 58px 216px;
        justify-items: center;
    }

    .why-img {
        max-width: 430px;
        margin-bottom: 24px;
    }

    .why-card-title {
        font-size: 32px;
        padding-bottom: 8px;

    }

    .why-text {
        font-size: 18px;
        padding-bottom: 0;
        max-width: 244px;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .why-title {
        background-image: url("/img/title/title-wood-desk-2x.png");
    }
}